
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.App-header {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding:30px;
  height: 100%;
  position: relative;
}


.black-page {
  padding: 20px;
  position: relative;
  color:white;
}

.black-page p{
  text-align:left;
  line-height: 1.7;
  font-size:18px;
}

.white-page {
  color:black;
  padding: 20px;
  position: relative;
  z-index: 2;
}
.white-page i{
  font-size:50px;
}
.btn-nav {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 50%; /* Contoh: Lebar maksimum container */
  margin: 0 auto; /* Contoh: Pusatkan container di tengah */
  padding: 20px; 
}

h2{
  margin-bottom:50px;
}

